# Data Processing I 
### Homework I

#### Task 1 – Installation of Anaconda
First I've googled the "anaconda" and "python" keywords, which led me to Continuum Analytics' webpage. I chose my OS, downloaded the adequate graphical installer and following the instructions installed the Anaconda Navigator.

#### Task 2 – Python3 progress

In [2]:
#using interpreter as a calculator
3+3

6

In [1]:
#assigning value to a variable
x=17
print(x)

17

In [2]:
x=20
y=10
print(x*y+x+y+x/y)

232.0

In [5]:
#Not only numbers, but strings as well can be assigned to variables.
r="red"
b='blue'
g="green"
#it makes no difference whether single quotes or double quotes are being used
print(r+b+g)

redbluegreen

In [6]:
#strings can be also indexed
x='Camus'
print(x[0]) #prints the first element of x

C

In [7]:
x="Lebron"
for i in range(len(x)):
    print(x[i])

L
e
b
r
o
n

In [8]:
x="James"
y=len(x)
print(y)
q=[]  #q is a list with no elements
for i in range(y):#filling the empty list with the elements of a string
    q.append(x[i])
print(q)
q.reverse()
print(q)

5
['J', 'a', 'm', 'e', 's']
['s', 'e', 'm', 'a', 'J']

In [9]:
#Lists
#generating the first 20 elements of a fibonacci sequence 
x, y=0,1
for i in range(20):
    print(x)
    x,y =y, x+y

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [10]:
#generating the first 100 prime numbers  
from math import sqrt

def prime (x): #defining a function
    i=3
    if x != 2:
        if x % 2!=0 and x!=1:
            while i <= sqrt(x):
                if x%i==0:
                    return False
                    break
                i=i+2
            else:
                return True
        else: 
            return False
    else: 
        return True


ls = []
for i in range(100):
    if prime(i):
        ls.append(i)
print (ls)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [12]:
#stack – Last In First Out
y = [1,2,3,4,5]
print(y)
y.append(99)
print(y)
y.pop()
print(y)
y.pop()
print(y)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 99]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [13]:
# queue – First in, first out 
#to implement a queue, use collections.deque

from collections import deque 
p = deque([])
print(p)
p.append("A")
print(p)
p.append("B")
print(p)
p.append("C")
print(p)
p.append("D")
print(p)
p.popleft() #first to arrive leaves
print(p)
p.popleft()
print(p)
p.popleft() 
print(p)
p.popleft()
print(p)

deque([])
deque(['A'])
deque(['A', 'B'])
deque(['A', 'B', 'C'])
deque(['A', 'B', 'C', 'D'])
deque(['B', 'C', 'D'])
deque(['C', 'D'])
deque(['D'])
deque([])

In [14]:
#list comprehension
squares = []
for x in range(5):
    squares.append(x**2)
print(squares)

squares1 = [x**2 for x in range(5)]
print(squares1)

print([(x,y) for x in range(3) for y in range(3) if x != y])
print([(x,y) for x in range(3) for y in range(3)])

[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]
[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]
[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [19]:
#filtering lists and applying function
from math import log10
d = [-1,-2,-3,-4,1,2,3,4]
print(d)
print([i for i in d if i > 0])
print([log10(i) for i in d if i > 0])

[-1, -2, -3, -4, 1, 2, 3, 4]
[1, 2, 3, 4]
[0.0, 0.3010299956639812, 0.47712125471966244, 0.6020599913279624]

In [16]:
#Sets
n = {'a','b','c','d','e','f','g','h'}
print (n)
print('a' in n)
print('b' in n)
print('g' in n)
print('n' in n)

{'c', 'e', 'h', 'f', 'b', 'g', 'a', 'd'}
True
True
True
False

In [17]:
#Sets_2
p=set() #empty dictionary
a=set('asdfghjmhnbvcsasvdbfnmn')
b=set('aaaaaaaaaaaaaaaaab')
print(p)
print(a)
print(b)

set()
{'v', 'c', 'm', 'n', 'h', 'f', 'j', 's', 'b', 'g', 'a', 'd'}
{'a', 'b'}

In [18]:
#Dictionaries
md = {'Anne': 19, 'Michael':21,'Pierre':30,'Alice':25}
print (md)
print(md['Anne'])
zd = {'Anne': [19,170], 'Michael':[21,191],'Pierre':[30,178],'Alice':[25,163]}
print(zd)
del zd['Michael']
print(zd)
print("Anne is ", zd['Anne'][0])

{'Anne': 19, 'Michael': 21, 'Pierre': 30, 'Alice': 25}
19
{'Anne': [19, 170], 'Michael': [21, 191], 'Pierre': [30, 178], 'Alice': [25, 163]}
{'Anne': [19, 170], 'Pierre': [30, 178], 'Alice': [25, 163]}
Anne is  19

In [20]:
#looping through dictionaries
md = {'Anne': 19, 'Michael':21,'Pierre':30,'Alice':25}
for k,v in md.items(): #k-key, v-value
    print(k,v)

Anne 19
Michael 21
Pierre 30
Alice 25

In [22]:
#looping through dictionaries2
md = {'Anne': 19, 'Michael':21,'Pierre':30,'Alice':25}
for k in md.keys(): 
    print(k)

Anne
Michael
Pierre
Alice

In [23]:
#looping through dictionaries3
md = {'Anne': 19, 'Michael':21,'Pierre':30,'Alice':25}
for v in md.values(): 
    print(v)

19
21
30
25

In [31]:
#looping through dictionaries4
zd = {'Anne': [19,170], 'Michael':[21,191],'Pierre':[30,178],'Alice':[25,163]}
for k,v in zd.items():
    print(k,v)
for v in zd.values():
    print(v)

Anne [19, 170]
Michael [21, 191]
Pierre [30, 178]
Alice [25, 163]
[19, 170]
[21, 191]
[30, 178]
[25, 163]